@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./components/Header/styles/index.scss";

.App {
   text-align: center;
   box-sizing: border-box;
   width: 100vw;

   .main-container {
      width: 90%;
      margin: 30px 5% 0px 5%;
      @include displayFlex(row, nowrap, space-between, flex-start);

      .results-aside {
         min-width: 20%;
         max-width: 25%;
         text-align: left;
         padding: 5px 10px;

         .aside-title {
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 5px;
         }
         .aside-subtitle {
            font-weight: lighter;
            font-size: 14px;
            margin-left: 5px;
            margin-bottom: 10px;
         }
         .aside-categories {
            .categories-title {
               font-weight: bold;
               font-size: 18px;
               margin-bottom: 5px;
            }
            .categories-list {
               list-style-type: none;
               margin: 0px;
               margin-left: 5px;
               padding: 0px;
               font-weight: lighter;
               font-size: 14px;

               li {
                  margin-bottom: 4px;
               }
            }
         }
      }

      .results-container {
         min-width: 70%;
         box-sizing: border-box;
         @include displayFlex(row, wrap, flex-start, center);

         .result-box {
            width: 240px;
            height: 320spx;
            margin: 10px;
            border-radius: 10px;
            @include displayFlex(column, nowrap, center, center);
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2),
               0px 1px 2px rgba(0, 0, 0, 0.2);

            &:hover {
               border: 1px solid rgba(0, 0, 0, 0.4);
               box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4),
                  0px 1px 2px rgba(0, 0, 0, 0.4);
            }

            .image-container {
               width: 230px;
               height: 150px;
               margin: 10px 0px 5px 0px;
               align-self: center;

               img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  overflow: hidden;
                  border-bottom: 1px solid rgba(0, 0, 0, 1);
               }
            }

            .text-container {
               text-align: left;
               width: inherit;
               padding: 10px 0px 10px 10%;
               line-height: 20px;

               .text-former-price {
                  color: rgb(99, 99, 99);
                  text-decoration: line-through;
                  font-size: 12px;
               }

               .text-current-price {
                  color: rgb(0, 0, 0);
                  font-size: 20px;

                  &::after {
                     content: "35% OFF";
                     color: rgb(55, 187, 43);
                     font-size: 12px;
                     padding-left: 5px;
                  }
               }

               .text-payments {
                  color: rgb(55, 187, 43);
                  font-size: 12px;
                  vertical-align: middle;
               }
               .text-shipping {
                  color: rgb(55, 187, 43);
                  font-size: 12px;
                  font-weight: bold;

                  &::after {
                     content: "FULL⚡";
                     color: rgb(55, 187, 43);
                     font-size: 12px;
                     padding-left: 5%;
                  }
               }
               .text-description {
                  color: rgba(99, 99, 99, 0.8);
                  font-size: 14px;
               }
               .text-store {
                  color: rgba(99, 99, 99, 0.5);
                  font-size: 11px;
                  text-transform: uppercase;
               }
            }
         }
      }
   }
}